<!--Footer Column-->
<div class="footer-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="footer-widget gallery-widget">
        <h2>Our GALLERY</h2>
        <div class="widget-content">
            <div class="images-outer clearfix">
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-1.jpg" alt=""></a></figure>
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-2.jpg" alt=""></a></figure>
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-3.jpg" alt=""></a></figure>
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-4.jpg" alt=""></a></figure>
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-5.jpg" alt=""></a></figure>
                <!--Image Box-->
                <figure class="image-box"><a href="images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-6.jpg" alt=""></a></figure>
            </div>
        </div>
    </div>
</div>
<!--Footer Column-->
<div class="footer-column col-lg-5 col-md-4 col-sm-6 col-xs-12">
    <div class="footer-widget partner-widget">
        <h2>OUR PARTNERS</h2>
        <!--footer sponsors slider-->
        <div class="footer-sponsors-slider owl-carousel owl-theme">
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-1.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-2.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-3.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-4.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-1.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-2.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-3.png" alt="" /></a>
            </div>
            <div class="slide">
                <a href="#"><img src="images/sponsors/footer-sponsor-4.png" alt="" /></a>
            </div>
        </div>

        <h2>NEWSLETTTER SIGN-UP</h2>
        <!--newsletter form-->
        <div class="newsletter-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email" required>
                    <button type="submit" class="theme-btn">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-md-6 col-sm-6 col-xs-12">
                <div class="copyright">&copy; 2017 TuniRando - The TuniRando Specialists All Rights Reserved</div>
            </div>
            <div class="column col-md-6 col-sm-6 col-xs-12">
                <div class="footer-icon">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-youtube"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!--End Main Footer-->

</div>
