<!-- Main Header -->
<header class="main-header">
    <!-- Header Top One-->
    <div class="header-top-one">
        <div class="auto-container">
            <div class="clearfix">

                <!--Top Left-->
                <div class="top-left top-links">
                    <ul class="clearfix">
                        <li><span class="icon fa fa-phone"></span> <a href="#">1800 123 4567 - 1800 123 4568</a></li>
                        <li><span class="icon fa fa-envelope-o"></span> <a href="#">TuniRando@esprit.tn</a></li>
                    </ul>
                </div>

                <!--Top Right-->
                <div class="top-right">
                    <div class="social-icon">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-youtube"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Header Top One End -->

    <!-- Header Lower -->
    <div class="header-lower">
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">


                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">

                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home Style One</a></li>
                                            <li><a href="index-2.html">Home Style Two</a></li>
                                            <li><a href="index-3.html">Home Style Three</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>

                                    <li class="dropdown"><a href="#">Events</a>
                                        <ul>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="event-single.html">Events Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Randonnées</a>
                                        <ul>
                                            <li><a href="{{ url('randonnees_homepage') }}">Randonnée</a></li>

                                </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="{{ url('fos_user_security_login') }}">Sign in</a></li>
                                    <li><a href="{{ url('fos_user_registration_register') }}">Sign up</a></li>
                                </ul>

                            </div>
                        </nav><!-- Main Menu End-->

                        <!--Donate Button-->
                       <!-- <div class="don-btn-outer">
                            <a href="" class="theme-btn donate-btn">Sign in</a>
                        </div>
                      -->

                    </div><!--Nav Outer End-->

                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Style One</a></li>
                                    <li><a href="index-2.html">Home Style Two</a></li>
                                    <li><a href="index-3.html">Home Style Three</a></li>
                                    <li class="dropdown"><a href="#">Header Styles</a>
                                        <ul>
                                            <li><a href="index.html">Header Style One</a></li>
                                            <li><a href="index-2.html">Header Style Two</a></li>
                                            <li><a href="index-3.html">Header Style Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li class="dropdown"><a href="#">Randonnées</a>
                                <ul>
                                    <li><a href="{{ url('randonnees_homepage') }}">list des randonnées</a></li>

                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="gallery.html">Portfolio</a></li>
                                    <li><a href="shop.html">Our Shop</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>

                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->