{% extends 'default.html.twig' %}
{% block content %}
    <!--Main Slider-->
    <section class="main-slider" data-start-height="800" data-slide-overlay="yes">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="{{ asset('public/user/images/main-slider/1.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="-70"
                             data-speed="1500"
                             data-start="0"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="sub-title">YOUR WARMTH AND SUPPORT!</div></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="10"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h2 class="big-title">Support To Accommodate, <br> Feed And Educate.</h2></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="110"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="text">Give a helping hand to those who need it. Volunteers do notGive a helping hand to <br> those who need it. Volunteers do not</div></div>

                        <div class="tp-caption sfb sfb tp-resizeme"
                             data-x="left" data-hoffset="15"
                             data-y="center" data-voffset="185"
                             data-speed="1500"
                             data-start="1500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">Learn More</a></div>

                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="400"
                             data-y="center" data-voffset="-70"
                             data-speed="1500"
                             data-start="0"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="sub-title alterternate"> TuniRando!</div></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="400"
                             data-y="center" data-voffset="-20"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h2 class="medium-title">Participez aux évenements!</h2></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="left" data-hoffset="400"
                             data-y="center" data-voffset="40"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="text-dark">otGive a helping hand to <br> those who need i helping hand to those who need it.</div></div>

                        <div class="tp-caption sfb sfb tp-resizeme"
                             data-x="left" data-hoffset="400"
                             data-y="center" data-voffset="100"
                             data-speed="1500"
                             data-start="1500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">Learn More</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Be with us</a></div>

                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="overlay-layer"></div>
                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-70"
                             data-speed="1500"
                             data-start="0"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="sub-title alterternate">Welcome to Samara!</div></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-20"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><h2 class="medium-title">Help a child without family!</h2></div>

                        <div class="tp-caption sft sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="30"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><div class="sub-title white-text">YOUR WARMTH AND SUPPORT!</div></div>

                        <div class="tp-caption sfb sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="90"
                             data-speed="1500"
                             data-start="1500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">Learn More</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Be with us</a></div>

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
{% endblock %}